<div class="row">
  <div class="col-md-3">
    <ng-include src="'templates/users/_usersList.html'"></ng-include>
  </div>
  
  <div class="col-md-9">
    <form>
      <div class="form-group">
        <label for="newUserEmail">Email: </label>
        <input name="newUserEmail" type="email" ng-model="users.newUserEmail" />
      </div>
      <div class="form-group">
        <label for="newUserPw">Password: </label>
        <input name="newUserPw" type="password" ng-model="users.newUserPw" />
      </div>
      <button type="submit" class="btn btn-success" ng-click="users.createUser()">Create</button>
    </form>
  </div>

</div>