<div class="row">
  <div class="col-md-3">
    <ng-include src="'templates/users/_usersList.html'"></ng-include>
  </div>
  
  <div class="col-md-9">
    <form name="signInForm" class="sign-in-form" novalidate>
      <div class="form-group">
        <label class="control-label" for="signInEmail">Email: </label>
        <input required class="form-control" name="signInEmail" id="signInEmail" type="email" ng-model="users.email" />
      </div>
      <div class="form-group">
        <label class="control-label" for="signInPw">Password: </label>
        <input required minlength="6" class="form-control" name="signInPw" id="signInPw" type="password" ng-model="users.pw" />
      </div>
      <button type="submit" class="btn btn-success" ng-click="users.signIn(users.email, users.pw)">Log In</button>
      {{ main.currentUser }}
    </form>
  </div>

</div>
