<div class="row">
  <div class="col-md-2">
    <h3>Rooms</h3>
  </div>
  <div class="col-md-10">
    <span style="vertical-align:bottom;margin-bottom:10px;font-size:10px;float:right">( <a href="" ng-click="roomsList.changeUsername()">change name</a> )</span>
  </div>
</div>

<div class="list-group">
  <div ng-repeat="room in roomsList.allRooms">
    <div class="list-group-item">
      <a ng-href="#/room/{{room.$id}}">{{room.name}}</a>
      <i class="pointer" ng-click="roomsList.deleteRoom(room.$id)" style="float:right">X</i>
    </div>
  </div>
</div>


<div>
    <button type="button" class="btn btn-primary" ng-click="roomsList.openModal()">Create New Room</button>
</div>

